div.contributors > div {
  display:inline-block;
  padding: 13px;
  vertical-align: top;
}
div.contributors > div > a {
  /* Make the overlays work. */
  position: relative;
  display:inline-block;
  /* Make them look nice. */
  line-height: 0;
}

div.non-code div.overlay {
  background-image: url(../img/Clapping.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 36px auto;
  width: 100%;
  height: 100%;
  /* Make it overlay the image. */
  position: absolute;
  top: 0;
}

div.contributors > div > div {
  text-align: center;
  width: 120px;
  padding: 5px
}

footer {
  padding-top: 40px
}
.intro-header {
  background: no-repeat center center;
  background-size: cover;
  height: 300px;
  margin-bottom: 50px;
}

.row {
  padding-top: 10px
}

.section-heading {
  color:white;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
}
.section-heading .repo-name a, .header-link a {
  color: white;
  text-decoration: none;
}
.section-heading .repo-name a:hover, .header-link a:hover {
  text-decoration: underline;
}

.center-row {
  text-align: center;
}

.or-box {
  /* Based off http://stackoverflow.com/a/5214204/369021 */
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0em;
  margin: 10px 0 20px;
  display: block;
}
.or-box * {
  background:#fff;
  padding:0 10px;
  display: inline;
}

.buttom-img {
  max-height: 36px;
  box-sizing: border-box;
  padding: 5px 0;
  padding-right: 8px;
  float: left;
}

footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
  color: #819198;}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }

.header-link {
  color: white;
  padding: 0 5px;
  font-size: 90%;
}
